@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;

  background: whitesmoke;
  padding: 2em;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: purple;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: grey;
  font-weight: 400;
}

.container {
  border-radius: 5px;
  border: 1px solid grey;
  background: white;
  width: 95%;
  padding: 1em;
}

#users {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.list-group-item {
  padding: 0.3em;
}

#users a {
  text-decoration: none;
  padding: 2px 5px;
  background: rgb(182, 94, 182);
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

#users a:hover {
  filter: brightness(80%);
}
