@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;

  background: whitesmoke;
  padding: 2em;
}

h1 {
  text-align: center;
}

.container {
  border-radius: 5px;
  border: 1px solid grey;
  background: white;
  width: 50%;
  padding: 1em;
}

#users {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#users a {
  text-decoration: none;
  padding: 1em 2em;
  background: lightgray;
  border-radius: 5px;
  cursor: pointer;
}
